<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>show chanel</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel = "stylesheet" href = "./css/main.css" type = "text/css">
</head>
<body>
	<% include ../common/nave.ejs %>



</body>
</html>
