
<div class="container">
	<div class = "registe card-container">
		<form class="form-horizontal" method = "post" action = "#">
			<fieldset>

				<!-- Form Name -->
				<legend>Create Account</legend>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="textinput">ID</label>  
  						<div class="col-md-4">
  							<input name="id" class="form-control input-md" id="textinput" type="text" placeholder="placeholder">
 							 <span class="help-block">help</span>  
 						 </div>
					</div>

					<!-- Text input-->
					<div class="form-group">
  						<label class="col-md-4 control-label" for="textinput">PASSWORD</label>  
  						<div class="col-md-4">
  							<input name="password" class="form-control input-md" id="textinput" type="text" placeholder="placeholder">
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="textinput">COMFIRM PASSWORD</label>  
						<div class="col-md-4">
							<input name="comfirm" class="form-control input-md" id="textinput" type="text" placeholder="placeholder">
							<span class="help-block">help</span>  
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="textinput">NAME</label>  
						<div class="col-md-4">
							<input name="name" class="form-control input-md" id="textinput" type="text" placeholder="placeholder"> 
						</div>
					</div>

					<!-- Select Basic -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="selectbasic">Sex</label>
						<div class="col-md-4">
							<select name="selectbasic" class="form-control" id="selectbasic" name = "sex">
								<option value="male">male</option>
      							<option value="female">female</option>
    						</select>
  						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="textinput">EMAIL</label>  
						<div class="col-md-4">
							<input name="email" class="form-control input-md" id="textinput" type="email" placeholder="placeholder">
							<span class="help-block">help</span>  
						</div>
					</div>
					<br>
					<br>

					<!-- Button (Double) -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="button1id"></label>
  						<div class="col-md-8">
    						<button type = "submit" class="btn btn-success" id="button1id">create an account</button>
    						<button name="cancel" class="btn btn-danger" id="button2id">cancel</button>
  						</div>
					</div>
			</fieldset>
		</form>
	</div>
</div>

