<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title><%=title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel = "stylesheet" href = "./css/main.css" type="text/css">

</head>
<body>
<nav class = "navbar navbar-inverse">
	<div class = "container-fluid">
		<div class = "navbar-header">
		
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		 <span class="icon-bar"></span>
		  <span class="icon-bar"></span> 
		  <span class="icon-bar"></span> 
		  </button>


			<a class = "navbar-brand" href = "/">LOT</a>
		</div>
		<div class = "collapse navbar-collapse">
		<ul class = "nav navbar-nav">
			<li class = "action"><a href = "/">Home</a></li>
			<li class = "dropdown">
				<a class = "dropdown-toggle" data-toggle = "dropdown" href = "#">Chanel
				<span class = "caret"></span></a>
				<ul class = "dropdown-menu">
					<li><a href = "#">Create Chanel</a></li>
					<li><a href ="#">Chanel List</a></li>
					<li><a href = "#">Show Public Chanel</a></li>
				</ul>
			</li>
			<li class = "dropdown">
				<a class = "dropdown-toggle" data-toggle = "dropdown" href = "#">Blog
				<span class = "caret"></span></a>
				<ul class = "dropdown-menu">
					<li><a href = "#">Create Blog</a></li>
					<li><a href ="#">Blog List</a></li>
					<li><a href = "#">Modified Blog</a></li>
				</ul>
			</li>
			<li class = "dropdown">
				<a class = "dropdown-toggle" data-toggle = "dropdown" href = "#">File
				<span class = "caret"></span></a>
				<ul class = "dropdown-menu">
					<li><a href = "#">File Upload</a></li>
					<li><a href ="#">File Download</a></li>
				</ul>
			</li>
		</ul>
		<ul class = "nav navbar-nav navbar-right">
			<li><a href = "#"><span class = "glyphicon glyphicon-facetime-video"></span> Chatting</a></li>
			<li><a href = "#"><span class = "glyphicon glyphicon-envelope"></span> Message</a></li>
			<li><a href = "/login"><span class = "glyphicon glyphicon-log-in"></span> Login</a></li>
			<li><a href = "/member/registe"><span class = "glyphicon glyphicon-user"></span> Sign Up</a></li>
		</ul>
		</div>
	</div>
</nav>




